<div class="container">
  <br>

  <div class="modal fade" id="movimiento">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- header de la ventana -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Movimiento</h4>
        </div>
        <!-- Contenido de la ventana -->
        <div class="modal-body">

          <form>
            <div class="row">
              <div class="col-md-6">
                <label>Cliente</label>
                {{form.cliente}}
              </div>
              <div class="col-md-6">
                <label>Tipo de Movimiento</label>
                {{form.tipoMovimiento}}
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-6">
                <label>Fecha</label>
                <div class="input-group date" id="datepicker2">
                  {{form.fecha}}
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label>Tipo de Instrumento</label>
                <select class="form-control" name="">

                </select>
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-6">
                <label>Administradora</label>
                {{form.proveedor}}
              </div>

              <div class="col-md-6">
                <label>Fondo</label>
                <select class="form-control" name="">

                </select>
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-6">
                <label for="inputEmail4">Monto</label>
              {{form.monto}}
              </div>
              <div class="col-md-6">
                <label for="inputPassword4">Tipo Inversión</label>
                {{form.tipoInversion}}
              </div>
            </div>
          </form>

        </div>
        <!-- footer de a ventana-->
        <div class="modal-footer">
          <button type="button" id="btn-guardar" class="btn btn-primary" >Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#datepicker1').datepicker({
      format: 'mm/dd/yyyy',
      startDate: '-3d'
    });
    $('#datepicker2').datepicker({
      format: 'mm/dd/yyyy',
      startDate: '-3d',
      enableOnReadonly: false
    });

    $("#select-mov").change(function() {
      var seleccion = $("#select-mov").prop('selectedIndex');
      if (seleccion === 1) {
        $("#btn-actualizar").hide();
        $("#contenido2").hide();
        $("#contenido1").show();
        $("#btn-guardar").show();
      } else if (seleccion != 1) {
        $("#contenido1").hide();
        $("#btn-guardar").hide();
        $("#btn-actualizar").show();
        $("#contenido2").show();
      }

    });
  });
</script>
