<div class="container">
  <br>

  <div class="modal fade" id="movimiento">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- header de la ventana -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Movimiento</h4>
        </div>
        <!-- Contenido de la ventana -->
        <div class="modal-body">

          <form>
            <div class="row">
              <div class="col-md-6">
                <label>Cliente</label>
                {{form.cliente}}
              </div>
              <div class="col-md-6">
                <label>Tipo de Movimiento</label>
                {{form.tipoMovimiento}}
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-6">
                <label>Fecha</label>
                <div class="input-group date" id="datepicker1">
                  {{form.fecha}}
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label>Tipo de Instrumento</label>
                {{form.tipoInstrumento}}
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-6">
                <label>Administradora</label>
                <select class="form-control" id="id_proveedor" name="">
                  <option disabled selected>----------</option>
                </select>
              </div>

              <div class="col-md-6">
                <label>Fondo</label>
                <select id="id_fondo" name="" class="form-control">
                  <option disabled selected>----------</option>

                </select>
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-6">
                <label for="inputEmail4">Monto</label>
              {{form.monto}}
              </div>
              <div class="col-md-6">
                <label for="inputPassword4">Tipo Inversión</label>
                {{form.tipoInversion}}
              </div>
            </div>
          </form>

        </div>
        <!-- footer de a ventana-->
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-5">
              <p style="color:green;" hidden id="exito">Datos guardados correctamente!</p>
            </div>
            <div class="col-md-7">
              <button type="button" id="btn-guardar" class="btn btn-primary" onclick="guardarSaldo()">Guardar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#datepicker1').datepicker({
      format: 'dd/mm/yyyy',
      startDate: '-3d',
      autoclose: true,
    });

    $("#id_tipoInstrumento").change(function(event) {
      $("#id_fondo").empty();
      $("#id_fondo").append("<option selected disabled  >----------</option>");
      var token = $("#token").val();
      var id = event.target.value;
      console.log(id);
      $.ajax({
        url: '/proveedor/',
        headers: {
          'X-CSRF-Token': token
        },
        type: 'GET',
        data: {
          'id': id
        },
        success: function(res) {
          console.log(res);
          $("#id_proveedor").empty();
          $("#id_proveedor").append("<option selected disabled  >Seleccione</option>");
          for (var i = 0; i < res.length; i++) {
            $("#id_proveedor").append("<option value='" + res[i].pk + "'>" + res[i].fields.datos + "</option>");
          }
        }
      });
    });

    $("#id_proveedor").change(function(event) {

      var token = $("#token").val();
      var id = event.target.value;
      var id_tipoInstrumento = $("#id_tipoInstrumento").val();

      $.ajax({
        url: '/fondos/',
        headers: {
          'X-CSRF-Token': token
        },
        type: 'GET',
        data: {
          'id': id,
          'id_tipoInstrumento': id_tipoInstrumento
        },
        success: function(res) {
          $("#id_fondo").empty();
          $("#id_fondo").append("<option selected disabled  >Seleccione</option>");
          for (var i = 0; i < res.length; i++) {
            $("#id_fondo").append("<option value='" + res[i].pk + "'>" + res[i].fields.nombre + "</option>");

          }
        }
      });

    });

  });

  function guardarSaldo() {

  var id_cliente = $("#id_cliente").val(); //debemos obtener la id, ya que la tabla asi lo requiere
    var monto = $("#id_monto").val();
    var fechaOriginal = nuevaFecha($("#id_fecha").val());
    var id_tipoInversion = $("#id_tipoInversion").val(); //debemos obtener la id, ya que la tabla asi lo requiere
    var id_proveedor = $("#id_proveedor").val(); //debemos obtener la id, ya que la tabla asi lo requiere
    var id_fondo = $("#id_fondo").val(); //debemos obtener la id, ya que la tabla asi lo requiere
    var id_tipoInstrumento = $("#id_tipoInstrumento").val(); //debemos obtener la id, ya que la tabla asi lo requiere

    $.ajax({
      url: '/guardarSaldo/',
      headers: {
        'X-CSRF-Token': token
      },
      type: 'GET',
      data: {
        'id_cliente':id_cliente,
        'monto':monto,
        'fecha':fechaOriginal,
        'id_tipoInversion':id_tipoInversion,
        'id_proveedor':id_proveedor,
        'id_fondo':id_fondo,
        'id_tipoInstrumento':id_tipoInstrumento,
      },success:function(res){
        $('#id_cliente').prop('selectedIndex',0);
        $('#id_tipoInstrumento').prop('selectedIndex',0);
        $("#id_proveedor").empty();
        $("#id_proveedor").append("<option selected disabled  >----------</option>");
        $("#id_fondo").empty();
        $("#id_fondo").append("<option selected disabled  >----------</option>");
        $("#id_monto").val('');
        $("#id_fecha").val('');
        $("#id_tipoInversion").prop('selectedIndex',0);
        $("#exito").show().delay(5000).fadeOut();

      }
    });
  }

  function nuevaFecha(fecha){ //convierte las fechas 02/09/2018 a 2018-09-02 ya que es el formato que recibe mysql
    var split = fecha.split('/');
    var nuevaFecha = split[2]+"-"+split[1]+"-"+split[0];
    return nuevaFecha;
  }
</script>
